body{
  background-color: #EAE7DC;
}
#intro{
  box-sizing: border-box;
  padding-bottom: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #8E8D8A;
  background-color: #EAE7DC;
  border-width: 0px;
  text-align: center;

}
#intro .card-header{
  background-color: #D8C3A5;
}
#topNav{
  border-width: 0px;
  padding: 0px;
  background-color:#D8C3A5; ;
}
.row{
  box-sizing: border-box;
  padding-bottom: 50px;
}
.card{
  background-color: #D8C3A5;
  box-sizing: border-box;
  padding: 10px;

}
.card-title{
  font-size: xx-large;
  color: #E85A4F;
}
.card-text img{
float: right;
width: 300px;
}
.schoolName{
  font-style: italic;
}
.noDot{
  list-style: none;
}
#projects{
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
.subtitle{
  color: #E85A4F;
}
